footer{
	.page-footer{
	    background: transparent;
	    color:#fff;
	    margin:0;
	    a{
	    	color:#fff;
	    }
	    h3{
	    	font-size: 2em;
	    }
		.social-links {
		    text-align: right;
		}
	}
	.secondary-footer {
	    background-color: transparent;
	}
}
