.main-nav{
    position:fixed;
    background-color: #fff;
    width: 100%;
    top: 0;
    box-shadow: none;
    padding-top: 20px;
    box-sizing:content-box;
    z-index: 4;
    height:auto;
    line-height: normal;
    padding-bottom:20px;
    padding-top: 25px;
    backface-visibility: hidden;
    // &:before{
    //     content: '';
    //     display: block;
    //     width:100%;
    //     height:30px;
    //     top:0;
    //     left:0;
    //     position: absolute;
    //     transform: translateY(-100%);
    //     background: #fff;
    // }
    .menu{
        display: inline-block;
        padding-left: 0;
    }
    li{
        float: none;
        display: block;
        margin-bottom: 12px;
        @include respond-to('large'){
            
        }
        a{
            color:#000;
            letter-spacing: 1px;
            font-family: $font1;
            padding:0;
            padding-left: 0px;
            font-weight:900;
            font-size:2.5em;
            line-height: 1.2em;
            letter-spacing: 1px;
            display: inline-block;
            position: relative;
            text-decoration: none;
            border:none;
            &:before{
                content:'';
                position: absolute;
                top:50%;
                transform: translateY(-50%);
                width:0px;
                height:4px;
                background-color: #000;
                transition: width .4s ease;
                z-index: 3;
                left:0;
            }
            @include respond-to('medium'){
                font-size: 3.2em;
            } 
            @include respond-to('large'){
                font-size: 4.5em;
            }  
            @include respond-to('large'){
              &:hover{
                    background-color:transparent;
                    text-decoration: none;
                    &:before{
                        width:100%;
                    }
                }  
            }    
            
        }
    }

    .email-float{
        color: rgba(136,134,146,1);
        letter-spacing: 1px;
        font-family: $font1;
        float: none !important;
        padding-left:0px;
        margin-top:20px;
        display: block;
        font-size:1.5em;
        text-decoration: none;
        border:none;
        display: inline-block;
        &:before{
            content:'';
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            width:0px;
            height:4px;
            background-color: rgba(136,134,146,1);
            transition: width .4s ease;
            z-index: 3;
            left:0;
        }
        &:hover{
            background-color:transparent;
            text-decoration: none;
            &:before{
                width:100%;
            }
        }
    }

.wrapper-menu {
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 530ms ease-out;
    @include respond-to('medium'){
        transition: transform 330ms ease-out;
    }
  }
  
  .wrapper-menu.open {
    transform: rotate(-45deg);  
  }
  
  .line-menu {
    background-color: #000;
    width: 100%;
    height: 3px;
  }
  
  .line-menu.half {
    width: 50%;
  }
  
  .line-menu.start {
    @include respond-to('medium'){
        transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    }
    transition: transform 530ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
  }
  
  .open .line-menu.start {
    transform: rotate(-90deg) translateX(3px);
  }
  
  .line-menu.end {
    align-self: flex-end;
    @include respond-to('medium'){
        transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    }
    transition: transform 530ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
  }
  
  .open .line-menu.end {
    transform: rotate(-90deg) translateX(-3px);
  }
  .menus{
    position:fixed;
    width:100vw;
    height:100vh;
    background: #fff;
    top: 0;
    left:0;
    display: flex;
    z-index: -2;
    opacity: 0;
    transition: opacity .7s ease-in-out , visibility .9s ease-in-out;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    visibility: hidden;
}

.menus.active{
    opacity: 1;
    z-index: 2;
    visibility: visible;
    transition: opacity .7s ease-in-out, visibility .7s ease-in-out;
}

.bar{
    display: flex;
    width:100%;
    align-items: center;
}
  
}


.hamburger{
    color: black;
    position: relative;
    z-index: 3;
    padding:0;
}

.contact-call{
    position: relative;
    // backface-visibility: hidden;
    // display:none;
    margin-left:auto;
    z-index: 3;
    @include respond-to('medium'){
       &:hover{
            transition:opacity .4s ease;
            opacity: 0.6 !important;
        } 
    }
    
    @include respond-to('medium'){ 
        display: inline-block;
    }
    a{
        color:#000;
        letter-spacing: 1px;
        font-family: $font1;
        font-size: 1em;
        &:focus{
            outline:none;
        }
        &:after{
            content:'';
            position:absolute;
            width: 0;
            transition: width .4s ease;
            height: 10px;
            background-color:rgba(136,134,146,1);
            display:block;
            top: 13px;
            left: -5px;
            z-index: -1;
            opacity: 0.9;
        }
        &:hover{
            border-bottom: none;
            text-decoration: none;
        }
    }
    a.fadedIn{
        &:after{
            width: 60px;
        }
    }
    
}

