/* ==========================================================================
   Sidebar Children NAV for PAGE Template
   ========================================================================== */  

.childnav_toggle {
  display:none;
  margin-bottom: 10px;
}

#content {
    .childNav > ul{
        padding: 0;
    }

    .childNav {
        a{
            &:hover{
                text-decoration: none;
            }
        }
        ul{
            li{
                padding: 0;
                margin: 0;
                font-size: 15px;
                list-style: outside none none;
                display: inline-block;
                position: relative;
                width: 100%;
            }
        }

        >ul{
            >li{
                border-top: 1px solid #eef2f3;
                >a{
                    display: inline-block;
                    padding: 11px 10px;
                    width: 100%;
                    position: relative;
                    color: #000;
                }
            }
        }
        .page_item{
            .children {
                display: none;
                padding: 10px 0;
                width: 100%;
            }
            >.children{
                >li{
                    >a{
                        color: #999;
                        display: inline-block;
                        font-size: 14px;
                        padding: 8px 7px 8px 10px;
                        width: 100%; 
                    }
                    >.children{
                        >li{
                            >a{
                                padding: 8px 7px 8px 25px;
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
        .page_item_has_children{
            .toggle{
                background: #babbbc;
                position: absolute;
                right: 0;
                width: 25px;
                height: 25px;
                top: 10px;
                font-size: 15px;
                display: inline-block;
                line-height: 31px;
                color: #a1b1bc;
                 &:after {
                    content: "expand_more";
                    font-family: 'Material Icons';
                    font-weight: normal;
                    font-style: normal;
                    direction: ltr;
                    -webkit-font-smoothing: antialiased;
                    text-rendering: optimizeLegibility;
                    position: absolute;
                    -moz-osx-font-smoothing: grayscale;
                    font-feature-settings: 'liga';
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    line-height: 1.7em;
                }
                .opened:after {
                      content: "expand_less"
                }

            }
            >.children{
                >li{
                    >a{
                        background-color: #f7f8f9;
                    }
                    &:hover{
                        background-color: #f7f8f9;
                    }
                    >.children{
                        >li{
                            >a{
                                &:hover{
                                    background-color: transparent;
                                    color: #cdac3c;  
                                }
                            }
                        }
                    }                
                }
            }
        }
        .page_item.current_page_item {
            >.children{
                display: block;
            }
        }
        .page_item.current_page_parent {
            >.children{
                display: block;
            }
        }
        .page_item.current_page_ancestor {
            >.children{
                display: block;
            }
        }
        >.submenu {
            >.page_item.current_page_item{
                >a{
                    background-color: #f7f8f9;
                }
            }
            >.page_item.current_page_parent{
                >a{
                   background-color: #f7f8f9; 
                }
            }
        }
    
        .submenu{
            .subDrop{
                cursor: pointer;
                float: right;
                font-size: 21px;
                color: #000;
                margin: -35px 15px 0px;
            }

            .page_item.current_page_parent{
                .children{
                    .page_item.current_page_item{
                        >a{
                            color: #1174b1;
                        }
                    }
                    a{
                        &:hover{
                           color: #47c1ff; 
                        }
                    }
                }
            }
        }

        .page-item{
            .glyphicon.glyphicon-menu-right{
                color: #999;
                font-size: 10px;
                position: absolute;
                right: 13px;
                top: 39%;
            }
        }
        .page_item.current_page_parent {
            >a {
                >span.glyphicon.glyphicon-menu-right{
                    &:before{
                        content: '';
                    }
                }
            }
        }
    }
}
