// CSS declarations, hacks and things we are not proud 

html {
    overflow-y: scroll;
}

body{
	visibility:hidden;
	position: relative;
}

img{
	border:none !important;
}

html{
	
}

main{
	position: relative;
	z-index: 2;
}


.projectHeader{
	width: 100%;
	background-size:cover;
	background-position: center center;
}
.project-header{
	height:380px;
	width: 100%;
	@include respond-to('medium'){
		// width: 55%;
		min-height:400px;
		height: 60vh;
	}
	@include respond-to('large'){
		// width: 80%;
		min-height: 500px;
	}

	@include respond-to('xxl'){
		// height:80vh;
	}
}


.container{
	padding:0;
}

button{
	border-radius: 0;
}

.main-section {
		padding-top:100px !important;
		padding-bottom:100px !important;
	@include respond-to('large'){
		padding-top:180px !important;
		padding-bottom:180px !important;
	}
	
}

.container{
	@include respond-to('large'){
		width:75%;
	}
}


.prefooter{
	@include respond-to('medium'){
		padding-top:100px !important;
		padding-bottom:100px !important;
	}
	padding-top:75px !important;
	padding-bottom:75px !important;
}

.heading{
	margin-bottom: 60px;
	margin-top:30px;
}

video#bgvid { 
    // position: fixed;
    // top: 50%;
    // left: 50%;
    // min-width: 100%;
    // min-height: 100%;
    // width: auto;
    // height: auto;
    // z-index: -100;
    // -ms-transform: translateX(-50%) translateY(-50%);
    // -moz-transform: translateX(-50%) translateY(-50%);
    // -webkit-transform: translateX(-50%) translateY(-50%);
    // transform: translateX(-50%) translateY(-50%);
    // background: url(polina.jpg) no-repeat;
    background-size: cover; 
    width:100%;
}

.para{


}

.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li {
	margin:0;
}

.wpb_column{
	padding-top:0 !important;
	padding-bottom: 0 !important;
}





// Form

.newsletter{
	margin-bottom:80px;
}

.nf-form-fields-required {
	display:none !important;
}

.ninja-forms-req-symbol {
	display: none !important;
}

.flexed-form{
	.center-align{
		text-align: left !important;
	}
	@include respond-to('medium'){
		nf-fields-wrap{
			display:flex;
			align-items:flex-end;
			nf-field{
				width:50%;
			}
		}
		.center-align{
			text-align: center !important;
		}
	}
	
}

.nf-form-cont{
	.nf-field-label{
		margin-bottom:0 !important;
		label{
			color:$textColor;
			font-size:1em;
		}	
	}
	.nf-field-element{
		input{
			height: 2.5rem !important;
			margin-bottom:0 !important;
		}	
	}
	.submit-wrap{
		.nf-field-element{
			input{
				height: auto !important;
				border-color: $highlightColor !important;
				width:180px !important;

			}
		}
	}
	.textarea-wrap{
		textarea{
			border:0 !important;
			border-bottom:2px solid !important;
			border-color: #D8D8D8 !important;
			height:150px !important;
			&:focus{
				outline: 0 !important;
			}
		}
	}
}









