.partners {
	position:relative;
}

.arrow-sliders {
	margin-top: 20px;
	position:absolute;
	top:0;
	right:0;
}

.arrow-sliders button {
	color: $p1;
	font-size: 1.5em;
	background-color: $highlightColor;
	border: none;
	box-sizing:content-box;
	padding: 12px 20px;
	span{
		color:#fff;
	}
}

.longSliderContainer{
	width:100% !important;
}

.partner {
	display: inline-block;
	float: left;
	width: 240px;
	padding-right: 20px;
    box-sizing: border-box;
    transition: all .4s ease;
    opacity: 0.5;
    margin-top: 10px;
    padding: 40px;
    border: 2px solid $p3;
    margin-right: 30px;
    position: relative;
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
    background-color: $p3;
    color:#fff;
    @include respond-to('medium'){
    	width: 290px;
    }
    @include respond-to('large'){
    	min-height: 350px;
    	width: 320px;
    }
    @include respond-to('xl'){
    	width: 400px;
    }
    @include respond-to('xxl'){
    	width: 450px;
    }
    @include respond-to('xxxl'){
    	width: 520px;
    }
    
    
    p{
    	a{
    		color: $highlightColor;
    	}
    }
}

.partner .main-button {
/*	position: absolute;
	bottom: 0;
	left: 10%;
	transform: translateY(50%);*/
	display: inline-block;
	background-color: transparent;
	margin-top: 30px;
}

.partner {
	font-size: 0.9em;
}

.partner.active {
	opacity: 1;
}

.partners .disabled {
	opacity: 0.5;
}

.partner ul {
	margin-bottom: 20px;
}

.partner ul li {
	font-size: 1.1em;
}	


.partner h2 {
	margin-top: 0;
}

	.partners-slider {
		display: flex;
		display: -webkit-box; 
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex; 
		margin:0;
	}

	.partners-slider .slide {
		float: none;
/*		flex-basis: 50%; */
		 flex-shrink: 0;
	}


@media screen and (min-width: 1600px) {

	.partners {
		padding-top: 30px;
		padding-bottom: 60px;
   		margin-bottom: 100px;
	}

}


  
