.load-hidden {
    visibility: hidden;
}
.project-section{
    .project-feature{
        display:flex;
        flex-direction: row;
        margin-top: 20%;
        margin-bottom: 30%;
        position: relative;
        @include respond-to('large'){
            margin-top: 15%;
            margin-bottom: 20%;
        }
        &:hover{
            .image{
               .box{
                transform: translate3d(0px,0px,0px);
                } 
            }
            
        }
        .image{
            width: 85%;
            min-height:380px;
            background-size: cover;
            position: relative;
            background-position: center center;
            @include respond-to('large'){
                min-height:450px;
            }
            @include respond-to('xxl'){
                min-height:550px;
            }
            .overlay{
                position: absolute;
                width:100%;
                height:100%;
                left:0;
                top:0;
                background-color:rgba(136,134,146,0.5);
            }
        }
        .image.desktopProject{
            display:none;
          
            @include respond-to('medium'){
                display: block;
               
            }
        }
        .image.mobileProject{
            display: block;
           
            @include respond-to('medium'){
                display:none;
               
            }
        }
        h2{
            top:50%;
            color:#000;
            font-size: 3em;
            text-align: right;
            position: absolute;
            z-index: 2;
            right:0;
            transform: translateY(-50%);
            letter-spacing: 2px;
            display:block;
            @include respond-to('large'){
              font-size: 5em;
            }
            @include respond-to('xxl'){
                font-size: 6em;
            }
            .span-holder{
                display: block;
            }
            .outerspan{
                overflow: hidden;
                display: inline-block;
                .inner-span{
                    display: inline-block;
                    transform: translateX(-100%);
                }
            }
        }
    }

    .project-feature.reverse{
        flex-direction: row-reverse;
        h2{
            left:0;
            text-align: left;
        }
    }
}

