$pc: #E6E6E6;
$pd: #a1a2a3;
$font1:  "ff-dagny-web-pro";

$p1:blue;
$p2:blue;
$p3: blue;

$textColor:#3b3c3d;
$fontColor: #404142;
$highlightColor: blue;


// Hamburger

$background: #000;
$color: #000;

$height-icon: 22px;
$width-line: 45px;
$height-line: 3px;

$transition-time: 0.4s;
$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;


// Yep
$breakpoints: (  
  'small': (min-width: 300px),
  'medium': (min-width: 601px),
  'large': (min-width: 992px),
  'xl': (min-width: 1200px),
  'xxl': (min-width: 1600px),
  'xxxl': (min-width: 1800px),

);
