/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * ff-dagny-web-pro:
 *   - http://typekit.com/eulas/00000000000000003b9b0503
 *   - http://typekit.com/eulas/00000000000000003b9b0506
 *   - http://typekit.com/eulas/00000000000000003b9b0504
 *   - http://typekit.com/eulas/00000000000000003b9b0502
 *   - http://typekit.com/eulas/00000000000000003b9b04ff
 *   - http://typekit.com/eulas/00000000000000003b9b0500
 *
 * © 2009-2018 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2018-02-10 02:04:21 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=jaz5ujb&ht=tk&f=4664.4667.4763.5199.5200.5357&a=6165718&app=typekit&e=css");

@font-face {
font-family:"ff-dagny-web-pro";
src:url("https://use.typekit.net/af/d0aad2/00000000000000003b9b0503/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/d0aad2/00000000000000003b9b0503/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/d0aad2/00000000000000003b9b0503/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-style:italic;font-weight:700;
}

@font-face {
font-family:"ff-dagny-web-pro";
src:url("https://use.typekit.net/af/f2eb01/00000000000000003b9b0506/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/f2eb01/00000000000000003b9b0506/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/f2eb01/00000000000000003b9b0506/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-style:italic;font-weight:400;
}

@font-face {
font-family:"ff-dagny-web-pro";
src:url("https://use.typekit.net/af/ab4bb1/00000000000000003b9b0504/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/ab4bb1/00000000000000003b9b0504/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/ab4bb1/00000000000000003b9b0504/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("opentype");
font-style:normal;font-weight:200;
}

@font-face {
font-family:"ff-dagny-web-pro";
src:url("https://use.typekit.net/af/816b63/00000000000000003b9b0502/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/816b63/00000000000000003b9b0502/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/816b63/00000000000000003b9b0502/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"ff-dagny-web-pro";
src:url("https://use.typekit.net/af/cd2e3c/00000000000000003b9b04ff/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/cd2e3c/00000000000000003b9b04ff/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/cd2e3c/00000000000000003b9b04ff/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"ff-dagny-web-pro";
src:url("https://use.typekit.net/af/b41393/00000000000000003b9b0500/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/b41393/00000000000000003b9b0500/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/b41393/00000000000000003b9b0500/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
font-style:normal;font-weight:900;
}

.tkff-dagny-web-pro { font-family: "ff-dagny-web-pro",sans-serif; }
