
.loading{
	height: 30px
	width: auto;
	transition: height .2s ease;
}

.loading.loaded{
	height: 0;
}

.controls {
	display: inline-block;
}
.gallery-holder {
	margin: 0 auto;
	padding-top: 5vh;
	padding-bottom: 5vh;
	width: 95%;
}
.pic {
    margin:0rem;
    width: 100%;
}

.pic img {
	max-width: 100%;
	height: auto;
	display: block;
}

@media screen and (min-width: 768px){
	
	.gallery-holder {
		margin: 0 auto;
		padding-top: 25px;
		padding-bottom: 5vh;
		width: 80%;
	}
	.pic {
	    margin:0rem;
	    width: 20%;
	    padding: 0.5rem;
	    box-sizing: border-box;
	    
	}

	.pic img {
		max-width: 100%;
		height: auto;
		display: block;
	}
}


