.about-content{
    position: relative;
    z-index: 9999;
    opacity: 0;
    transform: translateY(10%);
    transition: all .6s ease .2s;
    
    p{
        color:#fff;
        font-size:1.6em;
        @include respond-to('medium'){
            font-size:2em;
        }
        @include respond-to('large'){
            font-size:2.5em;
        }
        @include respond-to('xxl'){
            font-size:3.5em;
        }
    }
}


.about-background{
    z-index: 9991;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    background:#11111a;
}

.about-content.active{
    transform: translateY(0);
    opacity: 1;
}

.return{
    position: relative;
    z-index: 9999;
    padding-bottom:30px;
    opacity: 0;
    transition: opacity .5s ease .2s;
    @include respond-to('large'){
        padding-bottom:50px;
    }
    a{
        position: relative;
        display: inline-flex;
        font-size:1.8em;
        margin:0;
        text-align: center;
        transition:opacity .4s ease;
        text-decoration: none;
        &:before{
            content:'';
            position: absolute;
            top:0;
            left:0;
            right:0;
            margin:auto;
            width:40px;
            height:40px;
            border-radius: 50%;
            border:1px solid #fff;
            transform: translateX(-20%) translateY(-20%);
        }
        &:hover{
            opacity: 0.6;
            outline:0;
        }
    }
}

.return.active{
    opacity: 1;
}

.follow-contact{
    padding-top: 35px;
    padding-bottom: 30px;
    opacity: 0;
    opacity: 0;
    transform: translateY(10%);
    transition: all .6s ease .2s;
    div{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    h3{
        color:#fff;
        padding-bottom: 10px;
        letter-spacing: 1px;
        @include respond-to('xxl'){
            font-size:2.5em;
        }
    }
    ul{
        padding-left: 0;
        li{
            display: inline-block;
            margin-right: 10px;
        }
    }
    a{
        color:#fff;
        text-decoration: none;
        font-size: 1.2em;
        position: relative;
        @include respond-to('xxl'){
            font-size:1.5em;
        }
        &:hover{
            &:before{
                width:100%;
            }
        }
        &:before{
            position: absolute;
            content:'';
            height:2px;
            width:0px;
            left:0;
            background-color: #fff;
            top:50%;
            transform: translateY(-50%);
            transition: width .3s ease;
        }
        &:focus{
            outline:none;
        }
    }
}
.follow-contact.active{
    transform: translateY(0);
    opacity: 1;
}