
.myIntro{
	padding-bottom: 50px;
	@include respond-to('medium'){
		// min-height: 90vh;
		// justify-content: center;
	}
	@include respond-to('large'){
		padding-top:0px;
	}
	// align-items: center;
	display: flex;
	flex-direction:column;
	padding-top: 30px;
	.container.flex{
		display: flex;
		height:auto;
		flex-direction: column;
		@include respond-to('medium'){
			// flex-direction: row;
			// align-items: center;
		}
		.content{
			width:100%;
			@include respond-to('medium'){
				padding-top: 20px;
				padding-bottom: 40px;
			}
			@include respond-to('large'){
				width: 65%;
				padding-top: 60px;
				padding-bottom: 40px;
			}
			padding-right: 2%;
			box-sizing:content-box;
		
			#typed{
			
			}
			h1{
				font-family: $font1;
				font-weight: 400;
				font-size: 2.5em;
				letter-spacing: -2px;
				margin-top: 20px;
				margin-bottom: 0;
				line-height: 1.2em;
				@include respond-to('medium'){
					font-size:3.2em;
				}
				@include respond-to('large'){
					font-size:3.8em;
				}
				span{
					
				}
				.fx{
					overflow: hidden;
					display:inline-block;
					.word{
						transform: translateY(50%);
						transition: transform .5s ease-out, opacity .5s ease;
						display:inline-block;
						padding-right: 15px;
						opacity: 0;
					}
					.word.slide{
						transform: translateX(0);
						opacity: 1;
					}
					.word2{
						transition-delay: .2s;
					}
				}
			}
			h4{
				font-family: $font1;
				font-size:1.4em;
				line-height: 1.4em;
				opacity: 0.8;
				@include respond-to('medium'){
					font-size: 1.6em;
				}
				span{
					display: block;
					width: 90%;
				
					@include respond-to('large'){
						
					}
					
				}
			}
		}
		.wrap-images{
			position: relative;
			.more-projects{
				display: none;
				position: absolute;
				top:50%;
				
				transform: translateZ(0) rotate(-90deg) ;
				-moz-transform: translateZ(0) rotate(-90deg) ;
				-webkit-transform: translateZ(0) rotate(-90deg) ;
				-webkit-transform-origin: 50% 51%;
				z-index: 2;
				opacity: 0;
				cursor: pointer;
				@include respond-to('medium'){
					display: block;
					left:-110px;
				}
				i{
					transition: transform .4s ease;
				}
				&:hover{
					i{
						transform: rotate(90deg) translateZ(0);
						-moz-transform: translateZ(0) rotate(90deg) ;
				        -webkit-transform: translateZ(0) rotate(90deg) ;
					}
				}
				// -webkit-transform-origin: 50%  51%;
				a{
					display: flex;
					align-items: center;
					color:#000;
					text-decoration: none;
					&:focus{
						outline: none;
						text-decoration: none;
					}
				}
				p{
					margin-bottom: 0;
					margin-right: 15px;
				}
			}
		}
		.images{
			width: 100%;
			height:380px;
			margin-top:70px;
			cursor: pointer;
			@include respond-to('medium'){
				// width: 55%;
				min-height:400px;
				height: 60vh;
				margin-top:0;
			}
			@include respond-to('large'){
				// width: 80%;
				min-height: 500px;
			}

			@include respond-to('xxl'){
				// height:80vh;
			}
			position: relative;
			.active{
				z-index: 2;
			}
			li{
				position: absolute;
				width: 100%;
				height:100%;
				top: 0;
				left: 0;
				a{
					color:black;
				}
				.image1{
					position: absolute;
					width: 100%;
					height:100%;
					top: 0;
					left: 0;
					cursor: pointer !important;
					.image-wrap{
						position: absolute;
						width: 100%;
						height:100%;
						top: 0;
						left: 0;
						opacity: 0;
						h2{
							position: absolute;
							bottom:4%;
							right:-5%;
							font-size: 4em;
							opacity: 0;
							transform: translateY(20px);
							transition:all .4s ease; 
							@include respond-to('medium'){
								font-size: 5em;
							}
							@include respond-to('large'){
								font-size: 6em;
							}
						}
						h2.active{
							opacity: 1 !important;
							transform: translateY(0);
							visibility: visible !important;
							transition-delay: .3s;
						}
						.overlay{
							cursor: pointer;
							background-color: rgba(136,134,146,0.5);
							position: absolute;
							width: 100%;
							height:100%;
							top: 0;
							left: 0;
						}
					}
					.image-wrap.desktop-wrap{
						display:none;
						visibility: hidden;
						@include respond-to('medium'){
							display: block;
							visibility: visible;
						}
					}
					.image-wrap.mobile-wrap{
						display: block;
						visibility: visible;
						@include respond-to('medium'){
							display:none;
							visibility: hidden;
						}
					}
					.blue-box{
						position: absolute;
						width: 0;
						height:100%;
						top: 0;
						left: 0;
						background-color: #fff;
						z-index: 2;
					}
				}
			}
			
		}
	}
	.line-drag-bar{
		margin: 0 auto;
		position: relative;
		display: flex;
		align-items: center;
		height:72px;
		width: 100%;
		// @include respond-to('medium'){
		// 	width: 65%;
		// }
		// @include respond-to('large'){
		// 	width: 55%;
		// }
		.draggable{
			background:  #000;
			height:8px;
			width:0;
			transition: width .5s ease , opacity .5s ease;
			backface-visibility: hidden;
			opacity:1;

			cursor: pointer;
			&:hover{
				opacity:0.6;
			}
		}

	}
}