
.project-header.projectDesktop{
    display: none;
  
    @include respond-to('medium'){
        display: block;
       
    }
}

.project-header.projectMobile{
    display: block;
   
    @include respond-to('medium'){
        display: none;
       
    }
}

.project-content{
    .mobile-image{
        max-width:80%;
        margin:0 auto;
    }
}


.project-title {
    h1{ 
        margin: 0;
        width: 100%;
        font-size:2.3em;
        transform: translate3d(2%,-60%,0);
        line-height: 1.1em;
        @include respond-to('medium'){
            font-size: 4em;
            transform: translate3d(-5%,-50%,0);
        }
        @include respond-to('large'){
            font-size: 5em;
        }
        @include respond-to('xl'){
            font-size: 6em;
        }
        @include respond-to('xxl'){
            font-size: 7em;
        }
        
        .span-holder{
            margin-right: 15px;
            display: block;
            @include respond-to('medium'){
                display: inline-block;
            }
        }
       .outerspan{
            overflow: hidden;
            display: inline-block;
            padding:3px;
            .inner-span{
                display: inline-block;
                transform: translateX(-100%);
            }
        } 
    }
}

.project-info{
    margin-top: 20px;
  
    @include respond-to('xxl'){
        margin-top:15px
    }
    h3{
        font-size:1.4em;
        padding-bottom: 10px;
        @include respond-to('large'){
            font-size: 1.8em;
        }
    }
    p{
        font-size:0.9em;
        @include respond-to('large'){
            font-size:1em;
        }
    }
  a{
      color:#000;
      outline:none;
      text-decoration: none;
      transition: opacity .4s ease;
      &:focus{
          outline:none;
      }
      &:hover{
          opacity: 0.6;
      }

  }
  .columnDivs{
      margin-top: 10px;
      margin-bottom: 20px;
      @include respond-to('large'){
          margin-right: 20px;
      }
  }
}

.project-content{
    padding-top: 20px;
    img{
        padding-top: 40px;
        padding-bottom: 40px;
        @include respond-to('medium'){
            padding-top: 60px;
            padding-bottom: 60px;
        }

        @include respond-to('large'){
            padding-top: 70px;
            padding-bottom: 70px;
        }
    }
}

.pagination-next{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
    width:100%;
    a{  
        font-size: 0.8em;
        color:rgba(0,0,0,0.5);
        text-decoration: none;
        letter-spacing: 2px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        @include respond-to('large'){
            font-size: 1.2em;
        }
        
        &:focus{
            outline: none;
        }
        &:hover{
            span{
                &:before{
                    transform: translateY(-50%) translateX(0%);
                    width:100%;
                    left:0;
                    transition: transform .3s ease , width .4s ease .3s, left .3s ease;
                }
            }
        }
        span{
            
            font-size: 1.3em;
            color:#000;
            margin-left: 60px;
            display: inline-block;
            position: relative;
            @include respond-to('large'){
                font-size: 1.8em;
            }
            &:before{
                content: '';
                position: absolute;
                width:20px;
                height: 2px;
                background: #000;
                left:-20px;
                top:50%;
                transform: translateY(-50%) translateX(-100%);
                transition: transform .3s ease .4s , width .4s ease , left .3s ease .4s;
            }
            
        }
    }
}

.image-wraps{
    margin-top: 20px;;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #EEEFF3;
    @include respond-to('medium'){
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @include respond-to('large'){
        padding-top: 45px;
        padding-bottom: 45px;
    }
}


